{
  "extends": "airbnb/base",
  "env": {
    "mocha": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": [0, "always-multiline"],
    "no-use-before-define": [2, "nofunc"],
    "spaced-comment": [0, "never"]
  },
  "globals": {
    "ON_DEV": false,
    "ON_TEST": false,
    "ON_PROD": false,
    "sinon": false,
    "expect": false,
    "angular": false,
    "inject": false
  }
}
