<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale=1.0, user-scalable=no">
  <title>Mobile</title>
  {% for (var dep in o.htmlWebpackPlugin.options.pkg.cdnjs.mobile) { %}
  <script src="{%=o.htmlWebpackPlugin.options.pkg.cdnjs.mobile[dep]%}" charset="utf-8"></script>
  {% } %}
</head>
<body ng-cloak ng-app="da.mobile">
  <div id="appContainer">
    <h1>Mobile</h1>
    <div ui-view></div>
  </div>
  {% if (o.htmlWebpackPlugin.options.dev) { %}<script src="/webpack-dev-server.js"></script>{% } %}
  <!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %} -->
</body>
</html>
