<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{%= o.htmlWebpackPlugin.options.title %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  {% for (var dependency in o.htmlWebpackPlugin.options.pkg.cdnDependencies) { %}
    <script src="{%= o.htmlWebpackPlugin.options.pkg.cdnDependencies[dependency] %}"></script>
  {% } %}
</head>
<body>
  {% if (o.htmlWebpackPlugin.options.dev) { %}<script src="/webpack-dev-server.js"></script>{% } %}
  <div id="app">APPLICATION CONTENT GOES HERE</div>

  <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
</body>
</html>
